* {
  box-sizing: border-box;
}

.hamburger {
  background-color: #fff;
  width: 45px;
  height: 30px;
  position: fixed;
  top: 0px;
  right: 0px;
  display: block;
  border: solid 1px;
  background-image: url(https://i.imgur.com/FGQOk2Y.png);
  background-size: cover;
  z-index: 100;
  transition: 0.3s;
}

.hamburger:hover {
  background-image: url(https://i.imgur.com/lOplEaO.png);
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 1550px;
  cursor: url(https://i.imgur.com/5aBmUJ1.png), auto;
  background: #E5E5E5;
  overflow-x: hidden;
}

.menu ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-family: Andale Mono;
  font-size: 20px;
  text-align: left;
  background: #fff;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: solid 1px black;
}

.menu {
  height: 100vh;
  width: 50%;
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: 0.5s;
}

.logo {
  font-size: 13px;
  font-family: Andale Mono;
  letter-spacing: 0.2em;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #0000;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: #FFFFFF;
  text-decoration: none;
}

#menu-switcher:checked ~ .menu {
  transform: translateX(0%);
}

#menu-switcher {
  display: none;
}

.a span, .b, .br, .d {
  font-size: 13px;
}

h2, br {
  font-family: Andale Mono;
}

.c {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: solid 1px;
  background: black;
  margin-top: 40px;
}

.boxx {
  position: fixed;
  right: 0;
  top: 50px;
  text-align: right;
  z-index: 90;
  font-size: 10px;
  animation: pp 2s;
}

.box {
  letter-spacing: 0.3em;
  padding-top: 30px;
  padding-bottom: 100px;
  animation: boxa 4s;
}

@keyframes boxa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.l {
  border: solid 1px;
  background: #A29BF9;
  padding: 5px;
  text-align: center;
}

@keyframes pp {
  0% {
    right: -350px;
  }
  100% {
    right: 0px;
  }
}
h2 {
  font-size: 33px;
}

.e {
  margin-left: 75px;
}

.f {
  margin-left: 140px;
}

.g {
  background: #fff;
}

.d {
  font-size: 13px;
  letter-spacing: 0.3em;
  line-height: 25px;
  font-weight: 390;
}
.next {
  font-weight: 100;
  font-size: 25px;
  padding: 0px;
  margin-left: 170px;
  margin-top: 400px;
  transition: 0.5s;
  background: #EEFF30;
}

.next:hover {
  border-radius: 100%;
}

.col-md-12.mov {
  margin-top: 50px;
}

img {
  width: 100%;
  background-size: cover;
}

.img_wrap {
  overflow: hidden;
  background-size: cover;
}

section#end .row {
  height: 600px;
  font-size: 33px;
  font-family: Andale Mono;
  padding-top: 450px;
  letter-spacing: 0.3em;
}
section#end .row .text {
  text-align: right;
  padding-top: 100px;
}

footer .col-md-12 {
  height: 35px;
  width: 100%;
  background: #A29BF9;
  overflow-x: hidden;
}
footer .ss {
  width: 100%;
  letter-spacing: 0.3em;
  position: absolute;
  font-family: Andale Mono;
  font-size: 23px;
  animation: h1 15s infinite;
  animation-timing-function: linear;
  overflow-x: hidden;
}
@keyframes h1 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
